<template>
  <div class="app-homepage">
    {{fullData}}
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  head() {
    return {
      titleTemplate: `${this.fullData.header.title}`,
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },

        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content: 'Meta description' }
      ],
      link: [
        { rel: 'icon', type: 'image/x-icon', href: `${this.fullData.header.favicon}`}
      ]
    }
  },
  data: () => ({
    fullData: []
  }),
   async fetch(){
    this.fullData =  await fetch(
        'https://apiukraine.swinor.com/homepage' 
      ).then(res => res.json())
      // const response = await this.$axios.get(`https://jsonplaceholder.typicode.com/todos/1`) 
      // this.posts = response.json()
      // console.log(posts) 
    }
};
</script>

<style lang="scss">
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
</style>
